/* * {
    border: red 1px dotted;
} */

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.display_hidden {
  visibility:hidden;
}

/* DONT CHANGE */

body {
    background-color: brown;
    color: bisque;
}

header {
  background-color: black;
  color: white;
  padding: 1em 10em;
}

#main_content {
  margin: 0 25%;
}

.challenge_template {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1em;
}

.button_wow {
    margin-left: 2em;
    display:flex;
    justify-content: center;
}

.button_wow button {
    padding: 1em;
    margin: .5em;
}

img {
    max-width: 100px;
}
