*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.nav {
    color: white;
    background-color: black;
    padding: 1em;
    display: inline-flex;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

ul > li {
    margin: 0 .5em;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}