*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.nav {
    color: white;
    background-color: rgb(54, 54, 54);
    padding: 1em;
    display: inline-flex;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

ul > li {
    margin: 0 .5em;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}

.btn {
    background-color:darkcyan;
    border: black;
    color: white;
    font-size: medium;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
}