<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document 03</title>
</head>
<body>
    <h3 class="center">Welcome!</h3>
    <p>Multiply: {{ multiple_02 }}</p>
    <p>Color: {{ color_02 }}</p>
    
    <div class="container">

        {% for x in range(0, multiple_02): %}
            <div class="box" id="change_color">BOX</div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>