<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document 03</title>
</head>
<body>
    <h3 class="center">Welcome!</h3>
    <p>Multiply: {{ multiple }}</p>
    <p>Color: {{ color }}</p>
    
    <div class="container">
        <div class="box">a Box</div>
        <div class="box">a Box</div>
        <div class="box">a Box</div>
    </div>

</body>
</html>