<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <img src="{{ url_for('static', filename='img/my_img.png') }}"> -->

    <title>My Checkerboard</title>
</head>
<body>
    <h3>My Checkerboard</h3>
    <p id="x_squares"> {{ x_number }}</p>
    <p id="y_squares">{{ y_number }}</p>
    <p id="color_sqr_01"> {{ color_01 }}</p>
    <p id="color_sqr_02">{{ color_02 }}</p>

    <div id="container">
        <div id="checkerboard">

        </div>
    </div>

</body>
</html>