/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

/* styles to apply to body */

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

#nav {
    height: 80px;
    background-color: #222;
    color: #fff;
    margin-bottom: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}