* {
    border: red 1px dotted;
}

img {
    max-width: 100px;
}

#hidden {
    display: none;
}

body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: bisque;
}

.button_wow {
    display:flex;
    justify-content: center;
}