* {
    border: red 1px dotted;
}

* {
  margin: 0;
  padding: 0;
}

/* DONT CHANGE */

header {
  background-color: black;
  color: white;
  padding: 1em;
}

/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

img {
    max-width: 100px;
}

#hidden {
    display: none;
}

body {
    background-color: brown;
    color: bisque;
}

.button_wow {
    display:flex;
    justify-content: center;
}
