<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
    </head>
    
    <body class="my-bg-color">
        <header>
            <nav>
                {% block menu %} {% include 'menu.html' %} {% endblock menu %}
            </nav>
        </header>

        <main class="container">
            <br>
            <h2>ADD a New Recipe</h2>
            <br>
            <div class="card bg-dark">
                <div class="card-header text-white">
                    <h4>Enter All Information</h4>
                </div>
                <!-- <div class="alert alert-danger">
                    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                </div> -->
                <div class="d-flex card-body bg-light">
                    <div class="flex-fill">
                        <table class="table container">
                            <form action="/recipes" method="post"></form>

                                <tr class="form-group">
                                    <th><label for="name">Name:</label></th>
                                    <td><input class="form-control" type="text" id="name"></td>
                                    <th colspan="2"><label for="name">Date Cooked / Made</label></th>
                                </tr>

                                <tr class="form-group">
                                    <th><label for="Description">Description:</label></th>
                                    <td><textarea class="form-control" rows="3" type="text" id="description"></textarea></td>
                                    <th><label for="name">Date:</label></th>
                                    <td><input class="form-control" type="date" id="date_made"></td>
                                </tr>

                                <tr class="form-group">
                                    <th><label for="Instructions">Instructions:</label></th>
                                    <td><textarea class="form-control" rows="3" type="text" id="instructions"></textarea></td>
                                    <td colspan="2">
                                        <label for="name">Under 30 Minutes?</label>
                                        <div class="d-flex">
                                            <label for="yes" class="form-control">Yes</label>
                                            <input type="radio" id="under_30" value="1">
                                            <label for="no" class="form-control">No</label>
                                            <input type="radio" id="under_30" value="0">
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4">
                                        <input type="submit" class="btn btn-warning" value="Submit">
                                    </td>
                                </tr>
                            </form>
                        </table>   
                    </div>
                </div>
                <div class="p-3">
                </div>
            </div>
        </main>

        <footer>
            {% block footer %} {% include 'footer.html' %} {% endblock footer %}
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>