<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
    </head>
    
    <body class="my-bg-color">
        <header>
            <nav>
                {% block menu %} {% include 'menu.html' %} {% endblock menu %}
            </nav>
        </header>

        <main class="container">
            <br>
            <h2>Welcome, User</h2>
            <br>
            <div class="card bg-dark ">
                <div class="d-flex justify-content-between card-header text-white">
                    <h4>SPAM MUSUBI</h4>
                    <h4>Posted by: KAI</h4>
                </div>
                <table class="table card-body">
                    <tr>
                        <th>Desciption:</th>
                        <td>A Delicious Hawaiian Dish</td>
                    </tr>
                    <tr>
                        <th>Under 30 Minutes?:</th>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <th>Instructions:</th>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</td>
                    </tr>
                    <tr>
                        <th>Date Stamp:</th>
                        <td>JAN 01, 1990</td>
                    </tr>
                </table>
                <div class="p-3">
                    <a href="/recipes/edit" class="btn btn-warning">Edit Recipe</a>
                </div>
            </div>
        
        </main>

        <footer>
            {% block footer %} {% include 'footer.html' %} {% endblock footer %}
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>